<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techcamino.mlm.yboseller">

    <application
        android:name=".activities.YboApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.ProductImage"></activity>
        <activity android:name=".activities.DemoActivity" />
        <activity android:name=".activities.UploadImage" />
        <activity android:name=".activities.EditShopDetail" />
        <activity android:name=".activities.ManageShopActivity" />
        <activity android:name=".activities.EditBankDetails" />
        <activity android:name=".activities.BankDetailActivity" />
        <activity android:name=".activities.EditProfile" />
        <activity android:name=".activities.AddProduct" />
        <activity android:name=".activities.ProductsActivity" />
        <activity android:name=".activities.ShopActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.FilterActivity" />
        <activity android:name=".activities.AccountVerification" />
        <activity android:name=".activities.YAbstract" />
        <activity android:name=".activities.Dashboard" />
        <activity android:name=".activities.SignUp" />
        <activity android:name=".activities.ForgotPassword" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.techcamino.store.yboseller.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="androidx:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"
                tools:replace="androidx:resource" />
        </provider>

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".services.FileUploadService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>

</manifest>